# Prerequisites
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/

# Environments
venv/
ENV/
env/
.env

# Databases
*.db
*.db-journal

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.svelte-kit/
.next/
out/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
